**/.DS_Store
tags
**/__pycache__
**/.ipynb_checkpoints
venv/
**.venv/
models/*
messabout.ipynb
data_generation/*.csv
final_models/**
messabout.py
# Ignore all .csv files except .tar.gz compressed ones
*.csv
!*.csv.tar.gz
PLAN.md