**/.DS_Store
tags
**/__pycache__
**/.ipynb_checkpoints
venv/
**.venv/
models/*
messabout.ipynb
data_gen/*.csv
data_testing/*.csv
final_models/**
messabout.py
!*.csv.tar.gz
PLAN.mddata_gen/
*.csv
*.png
*.log
*.txt
data/data_ym/heavy_data/*